@{
    Page.Title = "Contest Entry";
    Layout = "~/_Layout.cshtml";
}
@section head {
    <style type="text/css">
        label:before {
            content: ".";
            clear: both;
            display: block;
            height: 0;
            visibility: hidden;
        }
    </style>
}

<header>
    <h1>Sample HTML 5 Form</h1>
    <nav>
        <ul>
            <li><a href="/Default.htm">Home</a></li>
            <li>
                <a href="/FormSamples">HTML 5 Forms</a>
                <ul>
                    <li><a href="/FormSamples/ContestEntry.html">Contest Entry</a></li>
                    <li><a href="/FormSamples/CreateBankAccount.html">Create Bank Account</a></li>
                    <li><a href="/FormSamples/JobApplication.html">Job Application</a></li>
                    <li><a href="/FormSamples/StudentEnrollment.html">Student Enrolement</a></li>
                </ul>
            </li>
            <li>
                <a href="/RazorSamples">Razor Forms</a>
                <ul>
                    <li><a href="/RazorSamples/ContestEntry.cshtml">Contest Entry</a></li>
                    <li><a href="/RazorSamples/CreateBankAccount.cshtml">Create Bank Account</a></li>
                    <li><a href="/RazorSamples/JobApplication.cshtml">Job Application</a></li>
                    <li><a href="/RazorSamples/StudentEnrollment.cshtml">Student Enrolement</a></li>
                </ul>
            </li>
            <li><a href="/Practice/Default.htm">Practice Forms</a></li>
        </ul>
    </nav>
</header>
<section>
    <h1>Contest Entry</h1>
    <p>Please fill out the following form to enter the contest. This contest is only available to residents in Western Canada.</p>
    @{
        string first = Request.Form["firstName"];  // Request["firstName"]
        string last = Request.Form["lastName"];
        string email = Request.Form["emailAddress"];
        if(IsPost)
        {
            <blockquote>Thank you @first @last for entering the contest. A confirmation will be sent to you at @email.  </blockquote>
        }
    }
    <form method="post">
        <fieldset>
            <legend>Application Form</legend>
            <label for="firstName">
                First Name
                <input name="firstName" type="text" value="@first">
            </label>

            <label for="lastName">
                Last Name
                <input name="lastName" type="text" value="@last">
            </label>

            <label for="streetAddress1">
                Street Address 1
                <input name="streetAddress1" type="text">
            </label>

            <label for="streetAddress2">
                Street Address 2
                <input name="streetAddress2" type="text">
            </label>

            <label for="city">
                City
                <input name="city" type="text">
            </label>

            <label for="province">
                Province/Territory
                <select name="province">
                    <option value="">(select a province)</option>
                    <option value="AB">AB</option>
                    <option value="BC">BC</option>
                    <option value="MB">MB</option>
                    <option value="NB">NB</option>
                    <option value="NS">NS</option>
                    <option value="NT">NT</option>
                    <option value="NU">NU</option>
                    <option value="ON">ON</option>
                    <option value="PE">PE</option>
                    <option value="QC">QC</option>
                    <option value="SK">SK</option>
                    <option value="YT">YT</option>
                </select>
            </label>

            <label for="postalCode">
                Postal Code
                <input name="postalCode" type="text">
            </label>

            <label for="emailAddress">
                Email
                <input name="emailAddress" type="email">
            </label>

            <p>
                Note: You must agree to the contest terms in order to be entered.<br>
                <label for="agreeToTerms">
                    <input name="agreeToTerms" type="checkbox">
                    I agree to the terms of the contest.
                </label>
            </p>
        </fieldset>
        <input name="submit" type="submit" value="Submit">
    </form>
</section>

@section pagefooter {

}
