@{
    Page.Title = "About This Site";
    Layout = "~/_Layout.cshtml";
}
<h2>@Page.Title</h2>

<p>This site is an ASP.NET Web Application for the .NET Framework. It uses Razor pages which mix HTML/CSS/JavaScript (client-side) with C# (server-side processed).</p>

@section pageFooter {
    <p>Contact us at <b>Razor@DMIT.tv</b></p>
}