@{
    Page.Title = "Default Page"; // Sets the page title property to some friendly text
    Layout = "~/_Layout.cshtml"; // Identify our layout page
}

@section head {
    <style type="text/css">
        h1 { color: green; }
    </style>
}
<h1>Welcome to the @Page.Title</h1>
