<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/styles/site.css" />
</head>
<body>
    <header>
        <h1>My First Razor Web App</h1>
    </header>
    <footer>&copy; @DateTime.Today.ToLongDateString() - Dan Gilleland</footer>
    <main>
        <h2>Welcome</h2>
        <p>Homework</p>
        <ul>
            <li>Create your own ASP.NET Web Application with an `index.cshtml` razor web page.</li>
            <li>Copy over an HTML/CSS/JS sample from your Web Fundamentals class and apply it to your ASP.NET Web application.</li>
        </ul>
    </main>
    <nav>
        <ul>
            <li><a href="#">content</a></li>
            <li><a href="#">content</a></li>
            <li><a href="#">content</a></li>
            <li><a href="#">content</a></li>
        </ul>
    </nav>
</body>
</html>
