<div class="Header-item">
    <a href="#" class="Header-link f4 d-flex flex-items-center">
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x text-gray-light"></i>
            <i class="fas fa-apple-alt fa-stack-1x"></i>
        </span>
        Razor Demos
    </a>
</div>
<div class="Header-item"><a href="~/Default.cshtml" class="Header-link">Home Page</a></div>
<div class="Header-item"><a href="~/BeginHere/Default.cshtml" class="Header-link">Begin Here</a></div>
<div class="Header-item"><a href="~/RazorSamples/Default.cshtml" class="Header-link">Form Samples</a></div>
<div class="Header-item"><a href="~/Sandbox.cshtml" class="Header-link">Sandbox</a></div>
<div class="Header-item"><a href="~/About.cshtml" class="Header-link">About</a></div>
<div class="Header-item Header-item--full"></div>
<div class="Header-item mr-0">
    <a href="#" class="Header-link">
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x text-green"></i>
            <i class="fas fa-user fa-stack-1x"></i>
        </span>
    </a>
</div>

