@using WebApp.BeginHere
@{
    Page.Title = "";
    Page.Tab = UIControlDemos.INTRO;
    Layout = "~/_Layout.cshtml";
}

@section pagefooter {
    <p>
        <b>NOTES:</b>
    </p>
}

@section pageheader {
    <h1>HTML Form Controls</h1>
    @RenderPage("~/BeginHere/_TabMenu.cshtml")
}

<p>We're going to begin with a look at a set of HTML 5 Form elements: <code>&lt;input&gt;</code>, <code>&lt;textarea&gt;</code>, <code>&lt;select&gt;</code>, <code>&lt;button&gt;</code>, and <code>&lt;form&gt;</code>.</p>
<p>The <code>&lt;input&gt;</code> element is used for various UI input, and we identify which kind of UI to generate by using the <code>type="<i>type</i>"</code> attribute. The default type is "text".</p>

<h3>Request/Response</h3>

<p>When the browser communicates with the web server over the internet, it does so with a Request/Response interaction. That is, the browser makes a "request" for information from some web resource (typically from a web server), and that web server crafts a "response".</p>

<img src="~/Images/Cloud.png" />
