@using WebApp.BeginHere
@{
    Page.Title = "";
    Page.Tab = UIControlDemos.INTRO;
    Layout = "~/_Layout.cshtml";
}

@section pagefooter {
    <p>
        <b>NOTES:</b>
    </p>
}

@section pageheader {
    <h1>HTML Form Controls</h1>
    @RenderPage("~/BeginHere/_TabMenu.cshtml")
}

<div>

</div>