@{
    Page.Title = "Manage Suppliers";
    Layout = "~/_Layout.cshtml";
}

<h1>
    Manage Suppliers</h1>

<div>
    @{ 
        // TODO: Use a single <form> element for all the form controls
        // 1) Drop-down of supplier names to look up
        // 2) Form with inputs to show/edit supplier information
        // 3) Buttons to: [Add] [Update] [Delete]
    }
</div>