<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/styles/site.css" rel="stylesheet" />
</head>
<body>
    <main>
        <h2>Welcome</h2>
        <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
        <p>Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.</p>
    </main>
    <header>
        <h1>My Web Application</h1>
    </header>
    <footer></footer>
    <nav>
        <ul>
            <li><a href="">Nav Link</a></li>
            <li><a href="">Nav Link</a></li>
            <li><a href="">Nav Link</a></li>
            <li><a href="">Nav Link</a></li>
        </ul>
    </nav>
</body>
</html>
