@using WebApp.Data  @*Access to the classes in this namespace*@
@{
    Page.Title = "WestWind";
    Layout = "~/_Layout.cshtml";
}

<h1 class="jumbotron">WestWind Wholesale</h1>

<div class="row">
    <div class="col">
        @{ 
            using(var context = new WestWindContext()) // Make sure that the connection is closed after
            {
                // Grab the first (and only) row from the BuildVersion table
                BuildVersion current = context.BuildVersions.First();
                <h2>WestWind Database, @current.ToString()</h2>
            }
        }
    </div>
</div>