@using WestWindSystem.BLL;
@{
    Page.Title = "WestWind Wholesale";
    Layout = "~/_Layout.cshtml";
}

<h1 class="jumbotron">WestWind Wholesale</h1>

<div class="row">
    <div class="col">
        @{ 
            var dbVersion = new DatabaseInfoController().GetBuildVersion();
            <h3>Database Version: @dbVersion.ToString()</h3>
        }
    </div>
</div>