<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="~/" runat="server"><i class="fa fa-home"></i> Validation Demos</a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="~/Default.cshtml" runat="server">Overview</a>
            <a class="nav-link" href="https://cpsc-1517.github.io/razor/validationHelpers.html" target="_blank" runat="server">Student Notes</a>
            <a class="nav-link" href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/Constraint_validation" target="_blank">HTML 5 Validation (MDN)</a>
            <a class="nav-link" href="https://getbootstrap.com/docs/4.6/components/forms/#browser-defaults" target="_blank">Bootstrap Validation Styling</a>
            <a class="nav-link" href="" target="_blank"></a>
        </div>
    </div>
</nav>